body {
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#h1 {
  text-align: center;
}

#mapContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttonContainer {
  width: 100%;
  display: flex;
  margin: 20px auto;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  justify-content: center;
}

button {
  margin: 0 10px;
  padding: 3px 5px;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: green;
  color: white;
}

button:hover {
  background-color: lightgreen;
}
button:active {
  background-color: darkgreen;
}

#sliderContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

#yearSlider {
}

.slider {
  -webkit-appearance: none;
  margin: 20px 10px;
  width: 50%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  clear: both;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

#yearContainer {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#year {
  font-weight: bold;
  font-size: 22px;
}

svg {
  border: 2px solid black;
  background-color: lightblue;
}
